<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_line %>
    <%= form.text_field :first_line, id: :address_first_line %>
  </div>

  <div class="field">
    <%= form.label :second_line %>
    <%= form.text_field :second_line, id: :address_second_line %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :address_city %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region, id: :address_region %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :address_country %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, id: :address_postal_code %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :address_type %>
  </div>

  <div class="field">
    <%= form.label :legal_entity_id %>
    <%= form.text_field :legal_entity_id, id: :address_legal_entity_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
