<p>
  <strong>Company number:</strong>
  <%= @company.company_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Method of combination:</strong>
  <%= @company.method_of_combination %>
</p>

<p>
  <strong>Reported as:</strong>
  <%= @company.reported_as %>
</p>

<p>
  <strong>Functional currency:</strong>
  <%= @company.functional_currency %>
</p>

<p>
  <strong>Hfm entity code:</strong>
  <%= @company.hfm_entity_code %>
</p>

<p>
  <strong>Hfm tax entity:</strong>
  <%= @company.hfm_tax_entity %>
</p>

<p>
  <strong>Hfm hv code:</strong>
  <%= @company.hfm_hv_code %>
</p>